.markdown-body {
    font-size: 12px;
}

.markdown-body h1 {
    text-align: center;
}

img .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.emoji-img.emoji {
  max-width: 11px;
  max-height: 11px;
  vertical-align: middle;
}